<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Attendance</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
<style>
     #card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          width:15%;
          height:3%;
          margin: 20px;
          text-align: center;
          font-family: arial;
          display: inline-block;
        }
        #checkoutcard {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          width:15%;
          height:30%;
          margin: 20px;
          text-align: center;
          font-family: arial;
          display: inline-block;
        }
        #card button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }
        #checkout {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 300px;
          font-size: 18px;
          margin: 20px;
        }
        
        #card button:hover {
          opacity: 0.7;
        }
        #Order{
            border: 2px solid black;
            border-radius: 4px;
            background-color:lightgray;
            font-size: 20px;
            padding: 5px;
            margin:20px;
        }
    
</style>
  </head>
  <body>
    <img src="images.jpg" />
        <h1 style="color: black; font-size: 40px; font-weight: bold; text-align: center; background-color: brown;">6C Student Attendance</h1>
    <div id="app">
                
            <!--Products page-->
            <div>
                <div>
              <div id="card" v-for="a in lessons">
            <img style="width: 100%; height: 200px;" v-bind:src="a.image"/>
            <div>
              <p><strong>{{ a.subject }}</strong></p>
              <p><strong>SID: </strong>{{ a.SID }}</p>
              <p><strong>Time in: </strong>{{ a.Timein }}</p>

              <button id="button" v-if="canAddToCart(a)"
                v-on:click="addToCart(a)">
                Present on Campus
              </button></div></div></div></div></div>

    <script>
      let afterschool = new Vue({
        el: "#app",
        data: {
          lessons: lessons,
          orderBy: 0,
          sortBy: "",
          cart: [],
          showProduct: false,
        },

        methods: {
            submitForm(){
                alert('Order Submitted!')
            },

          showCheckout(){
                this.showProduct = this.showProduct ? false : true;
            },

          

          canAddToCart(lesson) {
            if (lesson.spaces > 0) {
              return true;
            } else {
              return false;
            }
          },

          sortAscending: function () {
            if (this.orderBy == 1) {
              console.log(this.sortBy);
              switch (this.sortBy) {
                case "subject":
                  lessons.sort(function (a, b) {
                    let x = a.subject.toLowerCase();
                    let y = b.subject.toLowerCase();
                    if (x < y) {
                      return -1;
                    }
                    if (x > y) {
                      return 1;
                    }
                    return 0;
                  });
                  break;
                case "location":
                  lessons.sort(function (a, b) {
                    let x = a.location.toLowerCase();
                    let y = b.location.toLowerCase();
                    if (x < y) {
                      return -1;
                    }
                    if (x > y) {
                      return 1;
                    }
                    return 0;
                  });
                  break;
                case "price":
                  lessons.sort(function (a, b) {
                    return a.price - b.price;
                  });
                  break;
                case "spaces":
                  lessons.sort(function (a, b) {
                    return a.spaces - b.spaces;
                  });
                  break;
                default:
                  lessons.sort(function (a, b) {
                    let x = a.subject.toLowerCase();
                    let y = b.subject.toLowerCase();
                    if (x < y) {
                      return -1;
                    }
                    if (x > y) {
                      return 1;
                    }
                    return 0;
                  });
                  break;
              }
              this.orderBy = 0;
              this.$forceUpdate();
            }
          },

          sortDescending: function () {
            if (this.orderBy == 0) {
              switch (this.sortBy) {
                case "subject":
                  lessons.sort(function (a, b) {
                    let x = a.subject.toLowerCase();
                    let y = b.subject.toLowerCase();
                    if (x > y) {
                      return -1;
                    }
                    if (x < y) {
                      return 1;
                    }
                    return 0;
                  });
                  break;
                case "location":
                  lessons.sort(function (a, b) {
                    let x = a.location.toLowerCase();
                    let y = b.location.toLowerCase();
                    if (x > y) {
                      return -1;
                    }
                    if (x < y) {
                      return 1;
                    }
                    return 0;
                  });
                  break;
                case "price":
                  lessons.sort(function (a, b) {
                    return b.price - a.price;
                  });
                  break;
                case "spaces":
                  lessons.sort(function (a, b) {
                    return b.spaces - a.spaces;
                  });
                  break;
                default:
                  lessons.sort(function (a, b) {
                    let x = a.subject.toLowerCase();
                    let y = b.subject.toLowerCase();
                    if (x > y) {
                      return -1;
                    }
                    if (x < y) {
                      return 1;
                    }
                    return 0;
                  });
                  break;
              }
              this.orderBy = 1;
              console.log(lessons);
            }
          },

          sortLessons: function (sortBy) {
            switch (sortBy) {
              case "subject":
                this.sortBy = "subject";
                lessons.sort(function (a, b) {
                  let x = a.subject.toLowerCase();
                  let y = b.subject.toLowerCase();
                  if (x < y) {
                    return -1;
                  }
                  if (x > y) {
                    return 1;
                  }
                  return 0;
                });
                break;
              case "location":
                this.sortBy = "location";
                lessons.sort(function (a, b) {
                  let x = a.location.toLowerCase();
                  let y = b.location.toLowerCase();
                  if (x < y) {
                    return -1;
                  }
                  if (x > y) {
                    return 1;
                  }
                  return 0;
                });
                break;
              case "price":
                this.sortBy = "price";
                lessons.sort(function (a, b) {
                  return a.price - b.price;
                });
                break;
              case "spaces":
                this.sortBy = "spaces";
                lessons.sort(function (a, b) {
                  return a.spaces - b.spaces;
                });
                break;
              default:
                break;
            }
          },

          deletefromCart: function (index) {
            const lessonData = this.cart[index];
            console.log(lessonData);
            this.cart.splice(index, 1);
            for (a in this.lessons) {
              if (this.lessons[a].id == lessonData.id) {
                this.lessons[a].spaces += lessonData.quantity;
              }
            }
          },

        },
        computed: {
          canaddtocart() {
            return this.cart.length
          },

        },
      });
    </script>
            <script language="Javascript" type="text/javascript">    
            
                function allowOnlyLetters(e, t)   
        {    
           if (window.event)    
           {    
              var charCode = window.event.keyCode;    
           }    
           else if (e)   
           {    
              var charCode = e.which;    
           }    
           else { return true; }    
           if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))    
               return true;    
           else  
           {    
              alert("ENTER ALPHABETS ONLY");    
              return false;    
           }           
        }
        
        function ValidNumeric() {    
        
        var charCode = (event.which) ? event.which : event.keyCode;    
        if (charCode >= 48 && charCode <= 57)    
        { return true; }    
        else    
        { 
            alert("ENTER NUMBERS ONLY");
            return false; 
        }    
    } 
    function checkform()
    {
        var f = document.forms["theform"].elements;
        var cansubmit = true;
    
        for (var i = 0; i < f.length; i++) {
            if (f[i].value.length == 0) cansubmit = false;
        }
    
        if (cansubmit) {
            document.getElementById('checkoutbutton').disabled = false;
        }
        else {
            document.getElementById('checkoutbutton').disabled = 'disabled';
        }
    }
          </script> 
  </body>
</html>